<%- include('partials/header') %>

<h1><%= post.title %></h1>

<small><%= post.postDate %></small>

<div class="content"><%= post.content %></div>
<br />

<small>By: <%= post.author %></small>
<br />

<a class="btn btn-primary" href="/posts/modify/<%=post.id %>">Edit</a>
<button class="btn btn-danger" onClick="promptForPassword('<%= post.id %>')">
  Delete
</button>

<%- include('partials/footer') %>

<script>
  function promptForPassword(postId) {
    const enteredPassword = prompt(
      "Please enter your password to delete this post:"
    );

    if (enteredPassword !== null) {
      window.location.href = `/posts/delete/${postId}?password=${enteredPassword}`;
    }
  }
</script>
